<nav style="display: contents;"
	class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top stick-top">
	<div class="container-fluid">
		<div class="navbar-wrapper">
			<a [routerLink]="['/home']"
				class="navbar-brand">
				Ghost Site
			</a>
		</div>
		<button (click)="sidebarToggle()"
			class="navbar-toggler"
			type="button">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end"
			id="navigation">
			<form (ngSubmit)="search()"
				class="navbar-form">
				<div class="input-group no-border">
					<input [(ngModel)]="stringToSearch"
						[ngModelOptions]="{standalone: true}"
						type="text"
						class="form-control"
						placeholder="{{ _isInPDFView ? 'Search in PDF' : 'Search in all page...' }}">
					<button type="submit"
						class="btn btn-white btn-round btn-just-icon">
						<i class="material-icons">search</i>
						<div class="ripple-container"></div>
					</button>
				</div>
			</form>
			<ul class="navbar-nav">
				<!-- <li class="nav-item">
					<a [routerLink]="['apps/json-beautifier']"
						class="nav-link">
						<i class="fas fa-indent"></i>
						JSON Beautifier
					</a>
				</li>
				<li class="nav-item">
					<a [routerLink]="['apps/json-excel']"
						class="nav-link">
						<i class="fas fa-file-excel-o"></i>
						JSON ⇋ EXCEL
					</a>
				</li> -->
				<li class="nav-item hover-pointer">
					<a *ngIf="isLogined(); else notLogined"
						(click)="logout()"
						class="nav-link hover-pointer">
						<i class="fas fa-sign-out-alt"></i>
						Logout
					</a>
					<ng-template #notLogined>
						<a (click)="login()"
							class="nav-link hover-pointer">
							<i class="fas fa-sign-in-alt"></i>
							Login
						</a>
					</ng-template>
				</li>
			</ul>
		</div>
	</div>
</nav>
