<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="card">
          <div class="card-header card-header-info">
            <h1 class="card-title">Data Deletion Instructions</h1>
          </div>
          <div class="card-body">
            <h2>How to Delete Your Data from Ghost Site</h2>

            <p>At Ghost Site, we respect your privacy and give you control over your personal data. If you have
              connected your Facebook account or used Facebook Login with our service, you have the right to request
              deletion of your data.</p>

            <div class="deletion-options">
              <h3>Option 1: Delete your account through our website</h3>
              <p>You can delete your entire account and all associated data by following these steps:</p>
              <ol>
                <li>Log in to your Ghost Site account</li>
                <li>Navigate to "My Account" or "Profile Settings"</li>
                <li>Scroll down to the bottom of the page</li>
                <li>Click on "Delete Account"</li>
                <li>Confirm your decision by following the prompts</li>
              </ol>
              <p>Once deleted, all your personal information will be removed from our systems.</p>
            </div>

            <div class="deletion-options">
              <h3>Option 2: Contact us directly</h3>
              <p>If you prefer, you can request data deletion by contacting us directly:</p>
              <ol>
                <li>Send an email to <a href="mailto:thdang1009@gmail.com">thdang1009&#64;gmail.com</a></li>
                <li>Include "Data Deletion Request" in the subject line</li>
                <li>Provide the email address associated with your account</li>
                <li>We will process your request and confirm deletion within 30 days</li>
              </ol>
            </div>

            <div class="data-retention">
              <h3>Data Retention</h3>
              <p>Please note that some information may be retained in backup copies for a limited period but will not be
                available online. Additionally, we may retain certain information to prevent fraud, assist with
                investigations, enforce our terms of use, or comply with legal requirements.</p>
            </div>

            <div class="facebook-info">
              <h3>Facebook Data</h3>
              <p>If you used Facebook Login with our service and want to revoke access, you can also manage app
                permissions through your Facebook account:</p>
              <ol>
                <li>Visit <a href="https://www.facebook.com/settings/?tab=applications" target="_blank">Facebook
                    Applications Settings</a></li>
                <li>Find Ghost Site in your list of connected apps</li>
                <li>Click "Remove" to revoke access</li>
              </ol>
              <p>Please note that removing our app from Facebook will not delete your account on our platform. To
                completely delete your data, please follow Option 1 or Option 2 above.</p>
            </div>

            <div class="contact-us">
              <h3>Questions?</h3>
              <p>If you have any questions about data deletion or privacy practices, please contact us at <a
                  href="mailto:thdang1009@gmail.com">thdang1009&#64;gmail.com</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>