<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    #
                  </th>
                  <th>
                    Tag
                  </th>
                  <th>
                    Subscribers
                  </th>
                  <th>
                    Action
                  </th>
                </thead>
                <tbody>
                  <ng-container *ngIf="subscriptions && subscriptions.length; else noDataBlock">
                    <tr *ngFor="let subscription of subscriptions; let index = index" class="hover-pointer-td">
                      <td>
                        {{ index + 1 }}
                      </td>
                      <td>
                        {{ subscription.name }}
                      </td>
                      <td>
                        {{ subscription.subscribersDisplay?.join(', ') }}
                      </td>
                      <td>
                        <button class="btn btn-danger" (click)="deleteSubscription(subscription.tagId!)">
                          Delete
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                  <ng-template #noDataBlock>
                    <tr class="text-center">
                      <td colspan="100%" class="text-center">
                        <app-table-loading (size)="'sm'"></app-table-loading>
                        No data
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
