.reveal-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: large;
    width: 22.5px;
    height: 18.5px;
}

.btn-w100 {
    width: 100%;
}

#googleSignInButton {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
}