<div class="main-content admin-list-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<h4 class="card-title">Todo Label Management</h4>
						<button type="button" class="btn btn-primary float-right" routerLink="/admin/operation/todo-label">
							<i class="material-icons">add</i> New Label
						</button>
					</div>
					<div class="card-body">
						<div *ngIf="loading" class="text-center my-3">
							<div class="spinner-border text-primary" aria-live="polite">
								<span class="sr-only">Loading...</span>
							</div>
						</div>

						<table class="table table-striped" *ngIf="!loading && todoLabels && todoLabels.length > 0">
							<thead class="text-primary">
								<tr>
									<th>Icon</th>
									<th>Name</th>
									<th>Description</th>
									<th>Auto Detect Keywords</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let todoLabel of todoLabels" class="hover-pointer-td">
									<td (click)="edit(todoLabel)">
										<span class="item-thumb">{{ todoLabel.imgAlternative }}</span>
									</td>
									<td (click)="edit(todoLabel)">{{ todoLabel.name }}</td>
									<td (click)="edit(todoLabel)">{{ todoLabel.description }}</td>
									<td (click)="edit(todoLabel)">{{ todoLabel.autoDetectKeywords }}</td>
									<td>
										<button (click)="delete(todoLabel)" type="button" class="btn-float-in-row pull-right mdc-icon-button material-icons red">
											<div class="mdc-icon-button__ripple"></div>
											delete
										</button>
									</td>
								</tr>
							</tbody>
						</table>

						<div *ngIf="!loading && (!todoLabels || todoLabels.length === 0)" class="alert alert-info">
							No labels found. Create your first label by clicking the "New Label" button.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
