<div class="sidebar-wrapper">
	<div>
		<form (ngSubmit)="search()"
			class="navbar-form">
			<span class="bmd-form-group">
				<div class="input-group no-border">
					<input [(ngModel)]="stringToSearch"
						[ngModelOptions]="{standalone: true}"
						type="text"
						placeholder="{{ _isInPDFView ? 'Search in PDF' : 'Search in all page...' }}"
						class="form-control">
					<button type="submit"
						class="btn btn-white btn-round btn-just-icon">
						<i class="material-icons">search</i>
						<div class="ripple-container"></div>
					</button>
				</div>
			</span>
		</form>
	</div>
	<ul class="nav">
		<li *ngFor="let menuItem of menuItems"
			routerLinkActive="active"
			class="{{menuItem.class}} nav-item">
			<a [routerLink]="[menuItem.path]"
				class="dropdown-item">
				<i class="material-icons">{{menuItem.icon}}</i>
				<p>{{menuItem.title}}</p>
			</a>
		</li>
	</ul>
</div>
