<div class="sidebar-wrapper">
	<div>
		<form class="search-form"
			(ngSubmit)="search()">
			<div class="input-group no-border search-input-container">
				<input [(ngModel)]="stringToSearch"
					[ngModelOptions]="{standalone: true}"
					(input)="onSearchInput(stringToSearch)"
					type="text"
					placeholder="{{ _isInPDFView ? 'Search in PDF' : 'Search in all page...' }}"
					class="form-control search-input">
				<button type="submit"
					class="btn btn-white btn-round btn-just-icon search-button">
					<i class="material-icons">search</i>
					<div class="ripple-container"></div>
				</button>

				<!-- Search Suggestions Dropdown -->
				<div *ngIf="showSuggestions && searchSuggestions.length > 0"
					class="search-suggestions">
					<div *ngFor="let suggestion of searchSuggestions"
						(click)="selectSuggestion(suggestion)"
						class="search-suggestion-item">
						<i class="material-icons">search</i>
						<span>{{ suggestion }}</span>
					</div>
				</div>
			</div>
		</form>
	</div>
	<ul class="nav">
		<li *ngFor="let menuItem of menuItems"
			routerLinkActive="active"
			class="{{menuItem.class}} nav-item">
			<a [routerLink]="[menuItem.path]"
				class="dropdown-item">
				<i class="material-icons">{{menuItem.icon}}</i>
				<p>{{menuItem.title}}</p>
			</a>
		</li>
	</ul>
</div>
