<div class="clap-container">
  <div *ngIf="ready" class="clap-button-container">
    <button class="clap-button" (click)="clapThisPost($event)" aria-label="Clap for this post">
      <i class="material-icons">favorite</i>
      <span class="clap-count">{{+count | number:'1.0-0'}}</span>
    </button>
  </div>
</div>
<div class="container post-container">

  <article class="container article-page">
    <div class="div__back-to-home">
      <a (click)="backToHome()">
        ← Back to the Blog Home
      </a>
    </div>
    <figure *ngIf="ready" class="d-flex-col-mid-center">
      <img loading="lazy" class="page-image" src="{{item.postBackgroundImg}}" alt="post's image">
    </figure>

    <div *ngIf="ready" class="wrap-content">
      <header class="header-page d-flex-col-mid-center">
        <h1 class="page-title">{{item.title}}</h1>
        <div class="page-date">
          {{item.author}}
          wrote
          {{item.createdAt | timeAgo }}
          ({{item.createdAt | date }})
          with {{+(item.viewCount ?? 0)| number:'1.0-0' }} 👁️ | {{item.readTime || 5}} mins read
        </div>
        <div style="margin-top: 1rem;">
          <div *ngFor="let tag of item.tags" class="tagging">
            <a [routerLink]="'/home'" [queryParams]="{ tag: tag.name }" class="tagging__item">
              #{{tag.name}}
            </a>
          </div>
        </div>
      </header>
    </div>
    <div *ngIf="ready" class="post-description">
      <p>
        {{item.description}}
      </p>
    </div>
    <!-- <div *ngIf="ready && item.tags && item.tags.length > 0" class="tag-subscription-container">
      <app-tag-subscribe [tags]="item.tags"></app-tag-subscribe>
    </div> -->
    <div class="post-body">
      <ng-container *ngIf="ready">
        <markdown [data]="item.content"></markdown>
      </ng-container>

      <!-- Series Navigation -->
      <div *ngIf="ready && item.series" class="series-navigation">
        <div class="series-navigation-links">
          <a *ngIf="item.previousPostId" (click)="goToPost(item.previousPostId)" class="series-nav-link hover-pointer previous-post">
            <i class="material-icons" aria-hidden="true">arrow_back</i>
            <span class="series-nav-title">{{item.previousPostId.title}}</span>
          </a>
          <a *ngIf="item.nextPostId" (click)="goToPost(item.nextPostId)" class="series-nav-link hover-pointer next-post">
            <span class="series-nav-title">{{item.nextPostId.title}}</span>
            <i class="material-icons" aria-hidden="true">arrow_forward</i>
          </a>
        </div>
      </div>

      <!-- Facebook Social Plugins -->
      <ng-container *ngIf="ready">
        <div class="facebook-social-plugins">
          <div id="fb-root"></div>
          <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v22.0&appId=598355823212592"></script>

          <h3>Share your thoughts</h3>
          <div class="fb-like-share-container">
            <!-- Like, Share Button -->
            <!-- facebook like is no longer supported -->
            <!-- <div #fbLike class="fb-like" data-width="450" data-layout="standard" data-action="like" data-size="small"
              data-share="true">
            </div> -->
            <div #fbShareButton class="fb-share-button" data-layout="" data-size="">
              <a #fbShareButtonLink target="_blank" class="fb-xfbml-parse-ignore">Share</a>
            </div>
          </div>

          <!-- Comments Plugin -->
          <div class="fb-comments-container">
            <div #fbComments class="fb-comments" data-width="450" data-numposts="5">
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Back to Homepage Button at bottom -->
      <div *ngIf="ready" class="bottom-navigation">
        <button class="back-to-home-btn" (click)="backToHome()" aria-label="Back to Homepage">
          <i class="material-icons">home</i>
          <span>Back to Homepage</span>
        </button>
      </div>
    </div>
  </article>
</div>
